body,
html {
  height: 100%;
}

nav.sidebar,
.main {
  -webkit-transition: margin 10ms ease-out;
  -moz-transition: margin 10ms ease-out;
  -o-transition: margin 10ms ease-out;
  transition: margin 10ms ease-out;
}

.main {
  padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {
  .main {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 0px;
    float: right;
  }
  nav.sidebar:hover+.main {
    margin-left: 10px;
  }
  nav.sidebar.navbar.sidebar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  nav.sidebar .navbar-brand,
  nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }
  nav.sidebar a {
    padding-right: 13px;
  }
  nav.sidebar .navbar-nav>li:first-child {
    border-top: 1px #e5e5e5 solid;
  }
  nav.sidebar .navbar-nav>li {
    border-bottom: 1px #e5e5e5 solid;
  }
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }
  nav.sidebar {
    width: 50px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0px;
  }
  nav.sidebar li {
    width: 100%;
  }
  nav.sidebar:hover {
    margin-left: 0px;
  }
  .forAnimate {
    opacity: 0;
  }
}

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
  nav.sidebar {
    margin-left: 0px;
    float: left;
  }
  nav.sidebar .forAnimate {
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate {
  opacity: 1;
}

section {
  padding-left: 15px;
}

#display {
  float: center; 
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 100px;
}

#welcome {
  border: 1px inset gray;
  margin-top: px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#auto {
  
}

